version: "3.5"

services:
  mongodb_container:
    container_name: mongo_online_menu
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    ports:
      - 27018:27017
    volumes:
      - mongodb_data_container:/data/db



volumes:
  mongodb_data_container:
    driver: local

